*{
    padding-top: 5px;
}
body {
	background-color: #272727;
	color: #fff;
    font-family: monospace;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    
}

ul {
	list-style: none;
	padding: 5px;
	margin: 0;

}
ul li {
    font-size: 18px; /* Set the font size to 18 pixels */
}


li {
	margin: 10px 0;
}

a {
	color: #fff;
	text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px; /* Add a 20px margin below the "List of Topics" heading */
}

            
        
footer{
    text-align: center;
}

.pageStyle{
    font-size: 20px;
}